@keyframes loading {
    from { background-position-x: 100%; }
    to { background-position-x: 0%; }
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(245, 244, 238);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.picture {
    flex-basis: 33%;
    min-height: 250px;
    padding: 7px 8px;
    position: relative;
}

.picture:hover > img {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.6);
}

.img {
    width: 250px;
    height: 250px;
    border-radius: 4px;
    object-fit: cover;
    transition: box-shadow 150ms ease-in;
}

.mockup {
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(
        -90deg,
        rgb(236, 236, 236) 0%,
        rgb(236, 236, 236) 40%,
        rgb(232, 232, 232) 50%,
        rgb(236, 236, 236) 60%,
        rgb(236, 236, 236) 100%
    );
    background-repeat: repeat;
    background-size: 400% 100%;
    transition: opacity 600ms ease-in;
}

.loading {
    animation: loading 1.5s ease infinite;
}

.fade-out {
    opacity: 0;
}

.no-js .lazy,
.no-js .mockup {
    display: none;
}
